<html>

<head>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <title>{{ data.title }}</title>
</head>

<body>
    <h1 class="h1">{{ data.message }}</h1>
    <div class="main">
        <p class="rotate">hello php-sass</p>
        <p class="h1">class="h1"：サンプル</p>
    </div>
    <button type="button" data-toggle="modal" data-target="#myModal">I register !</button>

    <div id="myModal" class="modal hide fade">
        <!-- register form here -->
        ddd
        dd
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link">タブ1</a>
        </li>
    </ul>
</body>

</html>